*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container1{
    display: flex;
    justify-content: space-around;
    background-color: rgb(242, 223, 223);
    height: 60px;
    padding-top: 20px;
}

.container1 h2{
    color: rgb(235, 120, 26);
}
.container2{
    display: flex;
    gap: 30px;   
}

@media(max-width:600px){
    .container1 h2{
        color: rgb(34, 34, 231);
        background-color: rgb(235, 234, 227);
        margin-bottom: 4px;
        padding-left: 5px;
    }    

    .container2{
        display: flex;
        flex-direction: column;
        padding: 50px;
        margin-right:200px ;
    }

    .container1{
        background-color: rgb(171, 171, 233);
    }
}
